@charset "utf-8";
/****************
 * @description : css reset for mobi
 * @author   : ymf_wx1981@hotmail.com
 * @date     : 2015-08-21
 ****************/
/*css reset for mobi*/
html {font-size:12px}
@media screen and (max-width=480px) {
html {font-size: 12px}
}
@media screen and (min-width:480px) and (max-width:639px) {
html {font-size: 15px}
}

@media screen and (min-width:640px) and (max-width:719px) {
html {font-size: 20px}
}

@media screen and (min-width:720px) and (max-width:749px) {
html {font-size: 22.5px}
}

@media screen and (min-width:750px) and (max-width:799px) {
html {font-size: 23.5px}
}

@media screen and (min-width:800px) and (max-width:959px) {
html {font-size: 25px}
}

@media screen and (min-width:960px) and (max-width:1079px) {
html {font-size: 30px}
}

@media screen and (min-width:1080px) {
html {font-size: 32px}
}

body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer{margin:0;padding:0}
body{font-family:  'Microsoft Yahei','Simsun','Helvetica';  color:#333;background:#fff;-webkit-text-size-adjust: none; min-width:320px;}
h1,h2,h3,h4,h5,h6{font-size:100%}
form{display:inline}
ul,ol{list-style:none}
a{text-decoration:none;color:#1a1a1a}
a:hover, a:active, a:focus{color:#1c5aa2;text-decoration: none;}
a:active{color:#aaa;}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{font-size:100%; vertical-align:middle;outline:none;}
textarea{resize:none}
button,input[type="button"],input[type="reset"],input[type="submit"] {cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner { padding:0; border:0}
table { border-collapse:collapse; border-spacing:0}
.fl{float:left;}.fr{float:right;}.hide{display:none;}.show{display: block;}
.ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
.break { word-break:break-all; word-wrap:break-word}
header, footer, article, section, nav, menu, hgroup {display: block;clear:all;}



/*颜色*/
.black-color {
	color: #3f3f3f !important;
}
.gray-color {
	color: #979797 !important;
}

/* 顶部统一样式 */
.top_header {
	height: 3rem!important;
	line-height: 3rem!important;
	position: fixed;
	top: 0;
	left: 0;
}

.top_header button:first-child {
	text-align: left;
	font-size: 1rem!important;
}

.top_header h1 {
	font-size: 1.4rem!important;
	height: inherit!important;
	line-height: inherit!important;
}

.top_header button:last-child {
	text-align: right;
	font-size:.8rem!important;
}
/*底部按钮样式*/
.contorl-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
}
.contorl-footer a {
	display: block;
	width: 97%;
	margin: 1.5%;
	max-height: 3rem;
} 
.contorl-footer a .save-btn {
	width: 100%;
	background: #3db9f0;
	font-weight: 500;
	font-size: 1.3rem;
	color: #fff;
	text-align: center;
}
.contorl-footer a .button {
	border-color: #3db9f0;
}

/*color*/
.bg-color-white {
	background-color: #FFFFFF;
}

.bg-color-gray {
	background-color: #EEFFE9;
}

/*height*/
.height-5 {
	height:5rem !important;
}

.height-7 {
	height:7rem !important;
}
.height-11 {
	height:11rem !important;
}

.height-13 {
	height:13rem !important;
}
.height-17 {
	height: 17rem !important;
}

.height-21 {
	height: 21rem !important;
}
/*遮罩统一样式*/
.shade {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(0,0,0,.6);
	width: 100%;
	height: 100%;
}

/*浮动*/
.left{
	float: left;
}
.right {
	float: right;
}
.clearfix {
	clear: both;
}

/* 弹出框 */
.box {
	width:86%;
	height: 12rem;
	margin: 10rem 7%;
	background-color: #fff;
	border-radius: 5px;
	position: relative;

}
.box .button-bar{
	position: absolute;
	bottom:0;

}
.box .button {
	color: #3db9f0;
	height: 3rem;
	line-height: 3rem;

}
.box .tip {
	font-size: 1rem;
	position: absolute;
	margin: 1.5rem;
	line-height:2.5rem;
}
